Source: cix-vpu-driver
Section: kernel
Priority: optional
Maintainer: Clay Stan <claystan97@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-dkms,
Standards-Version: 4.7.2
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-dkms

Package: cix-vpu-driver-dkms
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 cix-vpu-firmware (>= 1.0.1),
Description: CIX VPU kernel driver source for DKMS
 This package installs the CIX VPU kernel driver source and DKMS metadata. DKMS
 compiles the module for each compatible CIX kernel installed on the target
 system.

Package: cix-vpu-driver-dev
Architecture: all
Section: libdevel
Depends:
 ${misc:Depends},
Description: CIX VPU userspace control header
 This package provides the CIX VPU V4L2 control interface required to build
 userspace multimedia components against the CIX VPU driver.
