Source: cix-npu-umd
Section: non-free/libs
Priority: optional
Maintainer: Clay Stan <claystan97@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: cix-npu-umd
Architecture: arm64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 cix-npu-driver-dkms,
Description: CIX NPU userspace runtime
 This package installs the proprietary CIX NPU userspace libraries, headers,
 and pkg-config metadata.
