#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=graphics-switch

override_dh_install:
	dh_install
	install -d debian/cix-gpu-umd/usr/libexec/cix
	mv debian/cix-gpu-umd/usr/bin/graphics-switch.sh \
		debian/cix-gpu-umd/usr/libexec/cix/graphics-switch
	install -d debian/cix-gpu-umd/usr/lib/aarch64-linux-gnu/cix
	mv debian/cix-gpu-umd/etc/vulkan/implicit_layer.d/libVkLayer_window_system_integration.so \
		debian/cix-gpu-umd/usr/lib/aarch64-linux-gnu/cix/
	sed -i 's#"./libVkLayer_window_system_integration.so"#"/usr/lib/aarch64-linux-gnu/cix/libVkLayer_window_system_integration.so"#' \
		debian/cix-gpu-umd/etc/vulkan/implicit_layer.d/VkLayer_window_system_integration.json
	rm -f debian/cix-gpu-umd/usr/share/cix/bin/malisc_host
	find debian/cix-gpu-umd/etc -type f -exec chmod 0644 -- {} +
	find debian/cix-gpu-umd/opt -type f -name '*.json' -exec chmod 0644 -- {} +
	find debian/cix-gpu-umd/usr/share/cix/bin -type f \
		\( -name '*.afb' -o -name '*.afrc' -o -name '*.bmp' -o \
		-name '*.cl' -o -name '*.h' -o -name '*.py' -o -name '*.spv' \) \
		-exec chmod 0644 -- {} +
	sed -i '1 s#python$$#python3#' \
		debian/cix-gpu-umd/usr/share/cix/bin/ConvMods.py \
		debian/cix-gpu-umd/usr/share/cix/bin/lit/ProgressBar.py
	chmod 0755 debian/cix-gpu-umd/usr/share/cix/bin/ConvMods.py \
		debian/cix-gpu-umd/usr/share/cix/bin/lit.py
	chmod 0644 debian/cix-gpu-umd/usr/lib/firmware/mali_csffw.bin \
		debian/cix-gpu-umd/usr/lib/udev/rules.d/99-cma-device.rules

override_dh_dwz override_dh_strip:

override_dh_shlibdeps:
	dh_shlibdeps -Lcix-gpu-umd \
		-l$(CURDIR)/debian/cix-gpu-umd/opt/cixgpu-pro/lib/aarch64-linux-gnu:$(CURDIR)/debian/cix-gpu-umd/usr/lib/aarch64-linux-gnu/cix
