#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DEB_SOURCE
export DEB_VERSION_UPSTREAM

%:
	dh $@

# This package ships module source. DKMS compiles it on the target system.
override_dh_auto_configure override_dh_auto_build override_dh_auto_test:

override_dh_auto_install override_dh_auto_clean:

override_dh_install:
	dh_install -X.gitignore

execute_after_dh_fixperms:
	find debian/cix-wlan/usr/src -type f -name '*.mk' -exec chmod 0644 {} +
